.card-margin {
    border-color: #c8c8c8;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e8e8e8;    
}

.button-per {
    background: #F05F40;
    border-color: #F05F40;
}

.menu {
    border-radius: 10px;
    background-color: #000000;
}

.btn-pre {
    margin: 10px;
}
