.card-margin {
    border-color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-per {
    background: #F05F40;
    border-color: #F05F40;
}

.dick {
    background: #000000;
}
