<html>
    <head>
        <meta charset="utf-8">
        <!-- JS libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://www.w3schools.com/lib/w3.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/creative.min.css" rel="stylesheet">
        <link href="css/projectoverview.css" rel="stylesheet" type="text/css">

        <title>Projects Overview</title>
    </head>

    <body ng-app="projectoverviewApp" ng-controller="listCtrl" style="padding: 10px;">

        <div w3-include-html="navbar.html"></div>
        <br>
        <br>
        <div class="container-fluid" style="margin-top:10px;
        background-color:#191919; border-radius:10px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div style="margin:10px;" ng-repeat="i in
                        [{a: 'Estatística', b: 'estatistica'}, {a: 'Letras', b: 'letras'}, {a:
                        'Computação', b: 'computacao'},
                        {a: 'Saúde', b: 'saude'},{a: 'Física', b: 'fisica'}, {a: 'Economia', b: 'economia'}, {a:
                        'Astronomia', b: 'astronomia'},
                        {a: 'Publicidade', b: 'publicidade'}]">
                            <div class="btn btn-primary btn-sm"
                                 ng-click="ask(i.b)">{{i.a}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mt-12">
                    <div class="row">
                        <div class="col-lg-3" ng-repeat="i in projects">
                            <div class="card card-margin">
                                <h4 class="card-title"><a
                                    href="project.html?id={{i.id}}">{{i.name}}</a></h4>
                                <p class="card-text">{{i.need}}</p>
                                <p class="card-text">{{i.resumo}}</p>
                                <div class="btn btn-primary btn-sm
                                float-right"
                                ng-click="subscribe(i.id)">Voluntariar-se</div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>w3.includeHTML();</script>
                <!-- Bootstrap core JavaScript -->
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/popper/popper.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
                <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
                <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

                <!-- Angular controller -->
                <script src="js/projectoverviewCtrl.js"> </script>
    </body>
</html>
