<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nome do pesquisador, projects</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/user.css" rel="stylesheet">

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="css/projectoverview.css" rel="stylesheet" type="text/css">
        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="css/creative.min.css" rel="stylesheet">
    </head>

    <body ng-app="">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
                                                                    style="background:#000000;">
            <a class="navbar-brand" href="index.html">WeRESEARCH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button"
                                                                data-toggle="collapse" data-target="#navbarResponsive"
                                                                                       aria-controls="navbarResponsive" aria-expanded="false"
                                                                                                                        aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="projectoverview.html">Solicitações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#areas">Nova Solicitação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#login">
                            <div class="fa fa-sign-in"></div> Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Page Heading -->
                <h1>{{name}} </h1>
                <p></P>
            </div>
            <div class="row">
                <h3>Minhas solicitações</h3>
                <li class="list-group-item" ng-repeat="i in [1,2,3,4]"><!-- edit for backend -->
                    <h4> <a href="#">{{i}}</a></h4>
                    <a href=# class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a>
                    <a href=# class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                </li>
            </div>
            <div class="row">
                <h3>Minhas participações</h3>
                <li class="list-group-item" ng-repeat="i in [1,2,3,4]"><!-- edit for backend -->
                    <h4> <a href="#">{{i}}</a></h4>
                    <a href=# class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></a>
                    <a href=# class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                </li>
            </div>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    </body>

</html>
